<a href="https://colab.research.google.com/github/Thangaraj5591/code/blob/main/excersice_1_sirpi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Types of Variables
# Question:
# Write a Python program that defines three types of variables:
# •	A string variable to store your name.
# •	An integer variable to store your age.
# •	A float variable to store your height in meters.
# Print these variables along with their types using the type() function.
# ________________________________________
name = "raj"
age = 25
height = 165.7
print(name,type(name))
print(age,type(age))
print(height,type(height))

raj <class 'str'>
25 <class 'int'>
165.7 <class 'float'>

In [ ]:
# 2. Lists
# Question:
# Create a list of five fruits (["apple", "banana", "cherry", "date", "elderberry"]):
# a) Print the first and last fruit from the list.
# b) Add a new fruit to the end of the list.
# c) Remove the second fruit from the list.
# d) Sort the list in alphabetical order and print it.
# ________________________________________

fruit_list=["Apple","Banana","Cherry","Date","Elderberry"];
n = len(fruit_list)
print(fruit_list[0], fruit_list[n-1] )
fruit_list.append("orange")
print(fruit_list)
fruit_list.remove(fruit_list[1])
print(fruit_list)
fruit_list.sort()
print(fruit_list)
# fruit_list.pop(len(1))

Apple Elderberry
['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry', 'orange']
['Apple', 'Cherry', 'Date', 'Elderberry', 'orange']
['Apple', 'Cherry', 'Date', 'Elderberry', 'orange']

In [ ]:
# 3. Tuples
# Question:
# Create a tuple to store the names of three programming languages ("Python", "Java", "C++"):
# a) Access the second language in the tuple.
# b) Try to replace the second language with "JavaScript". What happens?
# c) Convert the tuple to a list, make the modification, and convert it back to a tuple.
# ________________________________________
language = ("python","java","c++")
print(language[1])
# language[1]="javascript"
language_list = list(language)
language_list[1]="javascript"
language = tuple(language_list)
print(language)

java
('python', 'javascript', 'c++')

In [ ]:
# 4. Data Dictionary - Basics
# Question:
# Create a dictionary with the following student details:
# •	name: "John"
# •	age: 18
# •	grade: "A"
# a) Access and print the value of grade.
# b) Add a new key-value pair for hobby with the value "reading".
# c) Delete the age key from the dictionary.
# ________________________________________
std_details = {
    "name":"John",
    "age":18,
    "grade":"A"
}
print("student grade",std_details["grade"])
std_details["hobby"]="reading"
print(std_details)
del std_details["age"]
print(std_details)

student grade A
{'name': 'John', 'age': 18, 'grade': 'A', 'hobby': 'reading'}
{'name': 'John', 'grade': 'A', 'hobby': 'reading'}

In [ ]:
# 5. Data Dictionary - Operations
# Question:
# You are given the following dictionary:
# marks = {"Math": 85, "Science": 90, "English": 78}
# a) Find the average marks across all subjects.
# b) Update the marks for Math to 88.
# c) Check if the key "History" exists in the dictionary.
# ________________________________________
mark = {"math": 85, "science":90, "english":78}
avg_mark = sum(mark.values())/len(mark)
print(avg_mark)
mark["math"]=88
print(mark)
print("history" in mark)

84.33333333333333
{'math': 88, 'science': 90, 'english': 78}
False

In [ ]:

# 6. Functions - Basics
# Question:
# Write a Python function named square that takes an integer as input and returns its square.
# •	Call the function with the value 7 and print the result.
# ________________________________________
def square(n):
  sq_n = n*n
  return sq_n
n = int(input())
sq_no = square(n)
print(sq_no)

7
49

In [ ]:

# 7. Functions - Default Arguments
# Question:
# Write a Python function named greet that takes two parameters:
# •	name (a string)
# •	message (a string with a default value of "Welcome!")
# Call the function twice:
# 1.	Once by providing both name and message.
# 2.	Once by providing only name.
# ________________________________________
def greet (name, message="welcome"):
  print(message,name)
greet("raj","hello")
greet("raj")

hello raj
welcome raj

In [ ]:

# 8. Functions - Positional and Keyword Arguments
# Question:
# Write a Python function named student_info that accepts the following parameters:
# •	name (string)
# •	age (integer)
# •	grade (string, default value is "A")
# Call the function with:
# 1.	Positional arguments only.
# 2.	Keyword arguments only.
# Print the result in each case.
# ________________________________________
def student_info(name, age,grade="A"):
  return name,age,grade
print(student_info ("raj",24,"B"))
print(student_info (age=14,name="anbu"))

('raj', 24, 'B')
('anbu', 14, 'A')

In [ ]:
# 9. Lists and Functions
# Question:
# Write a Python program with the following requirements:
# a) Create a list of numbers: [10, 20, 30, 40, 50].
# b) Define a function named double_values that takes a list as input and returns a new list with each value doubled.
# c) Pass the list to the function and print the returned list.
# ________________________________________
list_no = [10,20,30,40,50]
def double_values(temp):
  new_list = []
  i = 0
  while i < len(temp):
    new_list.append(temp[i]*2)
    i = i+1
  return new_list
new_list = double_values(list_no)
print("The new double value list", new_list)

The new double value list [20, 40, 60, 80, 100]

In [ ]:
# 10. Combining Data Dictionary and Functions
# Question:
# Create a dictionary named students to store the names and grades of three students:
# students = {"Alice": 85, "Bob": 78, "Eve": 92}
# ) Write a function named add_student that accepts a dictionary, a student name, and a grade, then adds the student to the dictionary.
# b) Write another function named average_grade that calculates the average grade of all students in the dictionary.
# Call the functions to:
# 1.	Add a new student ("David": 88).
# 2.	Calculate and print the average grade.
# .________________________________________
def add_student(students,name,grade):
  students[name]=grade
  return students
students = {"Alice": 85, "Bob": 78, "Eve": 92}

name = input("enter the name")
# print(len(students))
grade = int(input("enter the grade"))
s1 = add_student(students,name, grade)
print(sum(s1.values())/len(s1))
# print(studnet1)
# def avg_grade(students):
#   sum = 0
#   for i in students:
#     sum = sum+students[i]
#   avg = sum/len(students)
#   print(avg)
# avg_grade(students)

enter the name David
enter the grade 88
85.75